modules/*
themes/*
!modules/.gitkeep
!themes/.gitkeep
vendor
.env
public/theme
public/assets
public/storage
storage/media/*
storage/cache/*
storage/log/*
storage/session/*
!storage/media/.gitkeep
!storage/session/.gitkeep